<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="https://www.facebook.com/RobertWMcGeeOfficial" class="icon fa-facebook"></a></li>
            <li><a href="https://www.youtube.com/user/33160Bob" class="icon fa-youtube"></a></li>
            <li><a href="https://www.linkedin.com/pub/robert-mcgee/3a/2a5/324" class="icon fa-linkedin"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Robert W. McGee</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
        </ul>
    </div>
</footer>