<!-- Header!! -->
<header id="header">

	<h1><strong><a href="/">Robert W. McGee</a></strong></h1>

	<div align="center">
		<a href="/site/de">DE</a>
		<a href="/site/en">EN</a>
		<a href="/site/es">ES</a>
		<a href="/site/fr">FR</a>
		<a href="/site/it">IT</a>
		<a href="/site/pt">PT</a>
	</div>

	<nav id="nav">
		<ul>
			<li>
				<a href='/site/en/index.html'>Books</a>
			</li>
			<li>
				<a href='/site/en/about.html'>About</a>
			</li>
			<li>
				<a href='/site/en/media.html'>Media</a>
			</li>
			<li>
				<a href='/site/en/connect.html'>Connect</a>
			</li>
		</ul>
	</nav>

</header>