			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Latest Releases</h2>
							<p>by Robert W. McGee</p>
						</header>

            <div class="feature-grid">

              <div class="feature">
                <a href="https://giveaway.amazon.com/p/80d88575121fb520">
                  <div class="image rounded-1"><img src="/media/assets/images/works/jh/small.jpg" alt="" /></div>
                  <div class="content">
                    <header>
                      <h4>Justifiable Homicide Giveaway</h4>
                      <p>A New Year Giveaway</p>
                    </header>
                    <p>I am running a New Year's Giveaway of my latest novel: Justifiable Homicide: A Political Thriller. Just click here and follow me on Amazon to enter the drawing. No purchase necessary. Good luck.</p>
                  </div>
                </a>
							</div>

              <div class="feature">
                <a href="store.html">
                  <div class="image rounded-1"><img src="/media/assets/images/works/as/small.jpg" alt="" /></div>
                  <div class="content">
                    <header>
                      <h4>New Books Collection</h4>
                      <p>Completely Redesigned</p>
                    </header>
                    <p>Check out my redesigned books collection. You can see all my books and preview a few chapters for free. What are you waiting for?</p>
                  </div>
                </a>
							</div>

						</div>
					</div>
				</section>