%header
  %h2
    Annie and the Senator
  %p
    A Story of Vigilante Justice

.box
  %span.image.featured
    %img{:src => "images/works/as/min/original.jpg",
    :alt => "Annie and the Senator: A Story of Vigilante Justice - Cover"}
  %h3
    Annie Chan. Half Chinese, half Thai. Daughter of a Bangkok pole dancer.
  %p
    Her beauty and other talents catapulted her into the world of high-priced
    Hong Kong escorts. Her life changed when her millionaire lover sent her to
    America to get an education.

    .row
      .6u.12u
        %h3
          A few years later ...
        %p
          she emerged from Harvard with an MBA and CPA. With a little help from
          her friend she rose to the position of president at one of the largest
          banks in Miami.
      .6u.12u
        %h3
          Her career was going along well until ...
        %p
          a certain senator started causing problems for her. When he threatened
          to expose her past and destroy her career, she decided she had to
          silence him. The problem is, she didn' t know how to do it. Not right
          away, that is.

    .row
      %center
        %ul.actions
          %li
            %a.button.special{:href => "http://www.amazon.com/dp/B00TKOTORC"}
              Buy it on Amazon (English)
          %li
            %a.button.special{:href => "http://www.amazon.com/dp/B016YPGKNA"}
              Buy it on Amazon (Italian)
          %li
            %a.button{:href => "#"}
              Check on GoodReads
