%header
	%h2
		Connect with Robert W. McGee

	%p
		Are you a fan of my work? Follow me on social media and check out my Youtube videos.
		You can also subscribe to my newsletter or just send me an email.

	%ul.icons
		%li
			%a.icon-facebook{:href => "https://www.facebook.com/RobertWMcGeeOfficial"}

		%li
			%a.icon-googleplus{:href => "https://plus.google.com/+RobertMcGeePhD"}

		%li
			%a.icon-youtube{:href => "https://www.youtube.com/user/33160Bob"}

		%li
			%a.icon-goodreads{:href => "http://www.goodreads.com/author/show/1222570.Robert_W_McGee"}

		%li
			%a.icon-linkedin{:href => "https://www.linkedin.com/pub/robert-mcgee/3a/2a5/324"}

		%li
			%a.icon-wordpress{:href => "https://robertwmcgee.wordpress.com/"}

	%form{:method => "post", :action => "http://formspree.io/author@robertwmcgee.com"}
		.row.uniform
			.6u.12u
				%input#name{:type => "text", :name => "name", :placeholder => "Name"}
			.6u.12u
				%input#email{:type => "email", :name => "email", :placeholder => "Email Address"}
		.row.uniform
			.12u
				%input#subject{:type => "text", :name => "subject", :placeholder => "Subject"}
			.12u
				%textarea#message{:name => "message", :placeholder => "Enter your message"}
		.row.uniform
			.12u
				%ul.actions.align-center
					%li
						%input{:type => "submit", :value => "Send Message"}
