%ul.icons
	%li
		%a.icon-facebook{:href => "https://www.facebook.com/RobertWMcGeeOfficial"}

	%li
		%a.icon-googleplus{:href => "https://plus.google.com/+RobertMcGeePhD"}

	%li
		%a.icon-youtube{:href => "https://www.youtube.com/user/33160Bob"}

	%li
		%a.icon-goodreads{:href => "http://www.goodreads.com/author/show/1222570.Robert_W_McGee"}

	%li
		%a.icon-linkedin{:href => "https://www.linkedin.com/pub/robert-mcgee/3a/2a5/324"}

	%li
		%a.icon-wordpress{:href => "https://robertwmcgee.wordpress.com/"}


%ul.copyright
	%li
		%copyright
			Robert W. McGee. All Rights Reserved
	%li
		%a{:href => "http://html5up.net"}
			Design by HTML5UP

-# Scripts
%script{:src => "assets/js/jquery.min.js"}
%script{:src => "assets/js/jquery.dropotron.min.js"}
%script{:src => "assets/js/jquery.scrollgress.min.js"}
%script{:src => "assets/js/skel.min.js"}
%script{:src => "assets/js/util.js"}
%script{:src => "assets/js/main.js"}
%script{:src => "assets/js/lity.min.js"}

-# AddThis
%script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55a20c8938dcf2ea", :async => "async", :type => "text/javascript"}

-# Site Analytics
%img{:src => "http://analytics.borke.us/piwik.php?idsite=2&rec=1", :style => "border:0"}

-# Google Analytics
%script{:src => "assets/js/analytics.js"}
