%p Santos could hear voices trickling down from the second floor as he edged toward
  the foot of the stairway, a few feet ahead of his fellow assassin. Midnight
  shrouded the house, except for a shaft of light emanating from inside the bedroom.

%p Soft soled shoes made their ascent along the tiled steps undetectable.
  Halfway up, the conversation grew clearer. They expected Raul to be alone,
  but his guest was no deterrent. Now would be their best opportunity.
  By the time they reached the last few steps, each word became distinct.
  It was time to proceed with the plan. The partners exchanged a nod and stepped
  into the room.

%p Gabriella noticed them first as the two men, dressed in black from head to toe,
  appeared stealthily from the shadows of the upstairs hall. She screamed in
  absolute terror, jumped off her lover and sank to the floor. She hugged her
  knees, rocked back and forth and prayed. Each gripped a Sig Sauer SP2022 9mm
  pistol with suppressor. It was considerably louder than the .22 caliber Ruger
  Mark 3 Target pistol people in their profession preferred, but this undertaking
  was engineered to resemble the work of amateurs, so the 9mm was a more
  appropriate choice.

%p Rodriguez turned to see what caused Gabriella’s sudden panic. The executioners
  had a clear shot. They steadied their pistols and fired. Santos splattered
  Raul’s brains on the wall with two shots to the head while his partner pumped
  three rounds into his torso. Such a scene was much too sloppy to be anything
  but the work of novices. That’s exactly how they wanted it to appear.

%p Santos’s accomplice turned toward him and nodded in the direction of Gabriella.
  "What should we do with her? She can identify us."
  "Yeah, you’re right.”

%p Santos pointed his gun at her head, set his finger on the trigger, then hesitated.

Smeared mascara highlighted her swollen, red eyes. She stared downward except for a few fluttering glances up at her attacker. Crawling to her knees, backing away, she begged, “Please, don’t kill me. I won’t call the police. I won’t tell anybody. I have a son. Please. Who will raise him?”

Santos released the pressure from the trigger but continued to point the gun at her. He thought, “She looks a lot like my sister, about five-foot four. Same long, chestnut brown hair and dark eyes.” Gabriella was clearly from the same gene pool as his Cuban ancestors.

The women he’d dispatched in the past wore burqas. He usually shot them from a distance, sometimes just for fun. He justified his actions by convincing himself he’d prevent the birth of 10 or more future enemy combatants for each woman slain. This time it was up close and personal. He didn’t feel good about it, but knew what he had to do.

Santos lowered his aim from her head to her heart and pulled the trigger. One well-placed shot did it, but he fired another round to complete the scene. The force of the hollow points thrust her body back a few feet, and then dropped her to the floor. She died instantly.

He heard his partner’s voice from behind him. “Have you forgotten our training? Why didn’t you keep to protocol and shoot her in the head?”

“She’s a civilian. And she’s Cuban. Her family’s entitled to an open-casket funeral. Her son should be able to look at her face one last time and say ‘good-bye’.”

“Yeah. All right, all right. Let’s get outta here.”

The colleague placed a note on the bed. It read, in English and Spanish, “Those who criticize the Cuban embargo will be silenced.”

The men both had FBI files, but it wouldn’t matter because there wouldn’t be a shred of evidence left at the scene. They wore gloves. No fingerprints. No DNA. Santos picked up the shell casings.

As they exited the bedroom, Santos turned around for one last look at Gabriella. She lay on her back. Arms limp as a rag doll, head tilted toward the door. Even in death she was beautiful. Her eyes appeared fixed on him. Her open mouth looked like she’d whispered to him, “Why? Why me?” She was the first Cuban woman he’d ever executed. He’d been living by the sword, on and off, for nearly ten years, first with the military, then as a part-time assassin who had just one client. As he walked toward the stairs, he wondered when it would be his turn to die… and how it would come to pass.
