%header
  %h2
    Featured Media

.box
  -# Media Appearances
  %h3
    Guest Appearances

  %a{:href=> "https://youtu.be/09xER3K_ewI", :"data-lity" => ""}
    Brian Wilson Interview - October 6th, 2015
  %br
  %br

  %a{:href=> "http://www.youtube.com/watch?v=E_kjhAHGtu4", :"data-lity" => ""}
    Liberty Talk Radio - July 20th, 2015
  %br
  %br

  %a{:href=> "http://www.youtube.com/watch?v=jFmVG9Jix9w", :"data-lity" => ""}
    Liberty Talk Radio - April 20th, 2015
  %br
  %br

  -# Justifiable Homicide
  %h3
    Justifiable Homicide: A Political Thriller

  %a{:href=> "http://www.youtube.com/watch?v=rXH10cOT0Wo", :"data-lity" => ""}
    Obama Press Briefing on Justifiable Homicide: A Political Thriller
  %br
  %br

  %a{:href=> "http://www.youtube.com/watch?v=M1Jip5Aofd4", :"data-lity" => ""}
    Justifiable Homicide - Trailer #1
  %br
  %br

  -# The TSA vs The People
  %h3
    The TSA vs The People: A Short Story of Vengeance

  %a{:href=> "http://www.youtube.com/watch?v=XL8b7Sf9DgU", :"data-lity" => ""}
    The TSA vs The People - Trailer #1
  %br
  %br

  -# Annie and the Senator
  %h3
    Annie and the Senator

  %a{:href=> "http://www.youtube.com/watch?v=jmzG9Y-NvHk", :"data-lity" => ""}
    Annie and The Senator Announcement
  %br
  %br

  -# Satirical Videos
  %h3
    Satirical Videos

  %a{:href=> "http://www.youtube.com/watch?v=rXH10cOT0Wo", :"data-lity" => ""}
    Obama Press Briefing on Justifiable Homicide: A Political Thriller
  %br
  %br

  %a{:href=> "http://www.youtube.com/watch?v=Y1ASiQZ0oUU", :"data-lity" => ""}
    Robert W. McGee - The Most Interesting Man in Fayetteville
  %br
  %br

  -# Robert McGee Videos
  %h3
    About Robert W. McGee

  %a{:href=> "http://www.youtube.com/watch?v=Pdvz7GzZQpQ", :"data-lity" => ""}
    Brief Biography of Robert W. McGee
  %br
  %br
