%h1
	Amazon Best Seller Author
	%a{:href => "index.html"}
		Robert W. McGee
-# Menu
%nav#nav
	%ul
		-# Home
		%li
			%a{:href => "index.html"}
				Home
		-# Novels
		%li
			%a.icon.fa-angle-down{:href => "#"}
				Novels
			%ul
				%li
					%a{:href => "justifiable-homicide.html"}
						Justifiable Homicide
		-# Novelettes
		%li
			%a.icon.fa-angle-down{:href => "#"}
				Novelettes
			%ul
				%li
					%a{:href => "annie-and-the-senator.html"}
						Annie and the Senator
		-# Short Stories
		%li
			%a.icon.fa-angle-down{:href => "#"}
				Short Stories
			%ul
				%li
					%a{:href => "tsa-vs-the-people.html"}
						The TSA vs The People
		-# About
		%li
			%a{:href => "about.html"}
				About
		-# media
		%li
			%a{:href => "media.html"}
				Media
		-# Connect
		%li
			%a{:href => "connect.html"}
				Connect
