section#banner.major
  div.inner
    header.major
      h1 Robert W. McGee
    div.content
      p An Amazon best-selling author who writes political fiction from an individualist perspective.
      ul.actions
        li
          a.button.next.scrolly(href="#tiles") Read more