script(src="/assets/js/jquery.min.js")
script(src="/assets/js/jquery.scrolly.min.js")
script(src="/assets/js/jquery.scrollex.min.js")
script(src="/assets/js/skel.min.js")
script(src="/assets/js/util.js")
script(src="/assets/js/main.js")
script(src="/assets/js/jquery.fitvids.js")
script(src="/assets/bx-slider/js/bxslider.js")
script(src="/assets/bx-slider/js/script.js")
script(src="/assets/js/metrika.js")
