section#two.spotlights
  each tile in public.site.en._data.index.tiles
    section
      a.image("test")
        img(src="#{ tile.image }" alt="" data-position="center center")
      div.content
        div.inner
          header.major
            h3= tile.title
          p= tile.subtitle
          ul.actions
            li
              a.button(href="#") Learn more