		<!-- Header -->
			<header id="header">

				<h1><strong><a href="index.html">Robert W. McGee</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><%= link_to 'Literatura', 'index.html' %></li>
					</ul>
				</nav>
			</header>