		<!-- Banner -->
			<section id="banner">
				<h2>Robert W. McGee</h2>
				<p>
        Amazon Best Selling Author <br> Attorney <br> Consultant <br> Entrepreneur <br> Professor <br> Martial Artist 
        </p>
			</section>