		<!-- Header -->
			<header id="header" class="alt">

				<h1><strong><a href="index.html">Robert W. McGee</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><%= link_to 'Home', '/index.html' %></li>
            <li><%= link_to 'About', '/about.html' %></li>
            <li><%= link_to 'Store', '/store.html' %></li>
            <li><%= link_to 'Connect', '/connect.html' %></li>
					</ul>
				</nav>
			</header>