<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
  <div class="content">
    <h2>About Robert W. McGee</h2>
    <p>Robert W. McGee is an best-selling author who writes political fiction from an individualist perspective.</p>
    <ul class="actions vertical">
      <li>
        <a href="#" class="button">Learn More</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="images/author.jpg" alt="" />
  </div>
</section>