<!-- Header -->
<header id="header">

	<h1><strong><a href="/">Robert W. McGee</a></strong></h1>

	<div align="center">
		<a href="/site/de">DE</a>
		<a href="/site/en">EN</a>
		<a href="/site/es">ES</a>
		<a href="/site/fr">FR</a>
		<a href="/site/it">IT</a>
		<a href="/site/pt">PT</a>
	</div>

	<nav id="nav">
		<ul>
			<li>
				<%= link_to 'Littérature', '/site/fr/index.html' %>
			</li>
		</ul>
	</nav>
</header>