!= partial("partials/_header")
!= partial("partials/_menu")
!= partial("partials/_banner")

div#main
  != partial("partials/_tiles")
  != partial("partials/_media")
  != partial("partials/_footer")

!= partial("partials/_scripts")
!= partial("partials/_carousel")