<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
  <div class="content">
    <h2>About Robert W. McGee</h2>
    <p>Robert W. McGee is a best-selling author and political pundit who writes political fiction from an individualist perspective.</p>
    <p>Before becoming a novelist, he was a professor, attorney, CPA and consultant. He also published 58 <a href="/http://www.amazon.com/Robert-W.-McGee/e/B000APKK1O">nonfiction books</a> and lectured or worked in more than 30 countries. Former clients include <a href="https://www.usaid.gov/">United States Agency for International Development</a>, <a href="http://www.worldbank.org">World Bank</a>, <a href="http://www.afdb.org/en/">African Development Bank</a> and <a href="https://www.cia.gov"> the Central Intelligence Agency</a>. He holds 13 earned doctorates from universities in the United States and four European countries.</p>
    <p>He has won 22 gold medals in Taekwondo National Championship tournaments, 6 first place trophies in Karate National Championship tournaments, as well as 3 gold, 6 silver and 4 bronze medals in World Championships. He is world champion in Taekwondo, Kung-Fu and Karate and a silver medalist in Tai Chi, and has been inducted into the United States Martial Arts Hall of Fame.</p>
    <p>His latest novel <a href="/buy/justifiable-homicide">Justifiable Homicide - A Political Thriller</a> is a controversial political novel which discusses the killing of corrupt politicians.</p>
    <p>
    <ul class="actions vertical">
      <li>
        <a href="/" class="button">Back Home</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="/images/RobertWMcGee.jpg" alt="Robert W. McGee" />
  </div>
</section>

<script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "person",
        "name": "Robert W. McGee",
        "jobTitle": "Author",
        "url": "http://www.robertwmcgee.com",
        "email": "author@robertwmcgee.com",
        "sameAs": [
            "https://plus.google.com/+RobertMcGeePhD",
            "https://www.linkedin.com/pub/robert-mcgee/3a/2a5/324",
            "https://www.facebook.com/RobertWMcGeeOfficial",
            "https://www.amazon.com/Robert-W.-McGee/e/B000APKK1O",
            "https://robertwmcgee.wordpress.com"
        ]
    }
</script>
