!= partial("../../partials/_header")
!= partial("../../partials/_menu")

div#main
  != partial("../../partials/_book")
  != partial("../../partials/_footer")

!= partial("../../partials/_scripts")

!= partial("../../partial/schema/jh")