doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")    
    meta(name="google-site-verification" content="YXZ11glRpBzRpUAGq-eOvqtMO6WYIQBvFD8t0JOeJZw")    
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="description" content="Robert W. McGee is an Amazon Best-Selling Novelist who writes political fiction from an individualist perspective. His latest works include Justifiable Homicide - A Political Thriller, Annie and the Senator, The TSA vs the People, and the Iraqi Girl Trilogy.")
    meta(name="keywords" content="Robert W McGee, Iraqi Girl, The TSA vs The People, Justifiable Homicide, Author, Novelist")
    
    link(rel="stylesheet" href="/assets/css/main.css")
    link(rel="stylesheet" href="/assets/bx-slider/style.css" type="text/css")

    title Robert W McGee - Official

    script(src="https://cdn.ravenjs.com/3.9.1/raven.min.js")
    script(src="/assets/js/debug/sentry.js")

  body
    div#wrapper
      != yield