!= partial("site/en/partials/_header")
!= partial("site/en/partials/_menu")

div#main
  != partial("site/en/partials/_generic")
  != partial("site/en/partials/_footer")

!= partial("site/en/partials/_scripts")