!= partial("/site/en/partials/_header")
!= partial("/site/en/partials/_menu")
!= partial("/site/en/partials/_banner")

div#main
  != partial("/site/en/partials/_tiles")
  != partial("/site/en/partials/_media")
  != partial("/site/en/partials/_footer")

!= partial("/site/en/partials/_scripts")
!= partial("/site/en/partials/_carousel")