footer#footer
  div.inner

    ul.icons
      li 
        a.icon.alt.fa-twitter(href="#")
          span.label Twitter
      li 
        a.icon.alt.fa-facebook(href="#")
          span.label Facebook
      li 
        a.icon.alt.fa-linkedin(href="#")
          span.label LinkedIn
      li 
        a.icon.alt.fa-amazon(href="#")
          span.label amazon

    ul.copyright
      li &copy; Robert W. McGee
      li Design 
        a(href="https://html5up.net") HTML5 UP
    