section#two
  div.inner
    header.major
      h2 YouTube Channel
    div#media
      ul.bxslider
        li
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Pdvz7GzZQpQ" frameborder="0" allowfullscreen></iframe>
        li 
          <iframe width="560" height="315" src="https://www.youtube.com/embed/E_kjhAHGtu4" frameborder="0" allowfullscreen></iframe>
        li 
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jFmVG9Jix9w" frameborder="0" allowfullscreen></iframe>
        li 
          <iframe width="560" height="315" src="https://www.youtube.com/embed/rXH10cOT0Wo" frameborder="0" allowfullscreen></iframe>
        li 
          <iframe width="560" height="315" src="https://www.youtube.com/embed/M1Jip5Aofd4" frameborder="0" allowfullscreen></iframe>
        li 
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XL8b7Sf9DgU" frameborder="0" allowfullscreen></iframe>
