doctype
html.no-js
  head
    meta(charset="utf-8")
    meta(description="")
    meta(name="viewport" content="width=device-width")
    meta(name="apple-mobile-web-app-capable" content="yes")

    title= title
  
    script(src="/assets/js/epub/epub.min.js")
    script(src="/assets/js/epub/zip.min.js")
    script(src="/assets/js/epub/wgxpath.install.js")

    link(rel="stylesheet" href="/assets/css/ereader.css")

    != yield

    body
      div#main
        div.arrow#prev(onclick="Book.prevPage();") ‹
        div#area 
        div.arrow#next(onclick="Book.nextPage();") ›

      script(src="/assets/js/epub/ebook.render.js")
