include partials/_header
include partials/_menu
include partials/_banner

div#main
  include partials/_tiles
  include partials/_media
  include partials/_contact
  include partials/_footer

include partials/_scripts
include partials/_carousel

include schema/_author.html
include schema/_as.html
include schema/_ig1.html
include schema/_ig2.html
include schema/_jh.html
include schema/_tsa.html