include partials/_header
include partials/_menu
include partials/_banner

div#main
  include partials/_tiles
  include partials/_media
  include partials/_contact
  include partials/_footer

include partials/_scripts
include partials/_carousel

include schema/_author.html