		<!-- Header -->
			<header id="header" class="alt">

				<h1><strong><a href="index.html">Robert W. McGee</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">Novels</a></li>
            <li><a href="generic.html">Novelettes</a></li>
            <li><a href="generic.html">Short Stories</a></li>
            <li><a href="generic.html">About</a></li>
						<li><a href="elements.html">Media</a></li>
            <li><a href="elements.html">Connect</a></li>
					</ul>
				</nav>
			</header>