---
title: Robert W. McGee | Amazon Best Selling Author
layout: generic
---

<%= partial "content/includes/header-generic" %>

  <!-- Main -->
    <section id="main" class="wrapper">
      <div class="container">

      <!-- / Main -->
      <section class='75% container' id='main'>
        <header>
          <h2>
            Connect with Robert W. McGee
          </h2>
          <p>
            Are you a fan of my work? Follow me on social media and check out my Youtube videos.
            You can also subscribe to my newsletter or just send me an email.
          </p>
          <ul class='icons'>
            <li>
              <a class='icon-facebook' href='https://www.facebook.com/RobertWMcGeeOfficial'></a>
            </li>
            <li>
              <a class='icon-googleplus' href='https://plus.google.com/+RobertMcGeePhD'></a>
            </li>
            <li>
              <a class='icon-youtube' href='https://www.youtube.com/user/33160Bob'></a>
            </li>
            <li>
              <a class='icon-goodreads' href='http://www.goodreads.com/author/show/1222570.Robert_W_McGee'></a>
            </li>
            <li>
              <a class='icon-linkedin' href='https://www.linkedin.com/pub/robert-mcgee/3a/2a5/324'></a>
            </li>
            <li>
              <a class='icon-wordpress' href='https://robertwmcgee.wordpress.com/'></a>
            </li>
          </ul>
          <form action='http://formspree.io/author@robertwmcgee.com' method='post'>
            <div class='row uniform'>
              <div class='6u 12u'>
                <input id='name' name='name' placeholder='Name' type='text'>
              </div>
              <div class='6u 12u'>
                <input id='email' name='email' placeholder='Email Address' type='email'>
              </div>
            </div>
            <div class='row uniform'>
              <div class='12u'>
                <input id='subject' name='subject' placeholder='Subject' type='text'>
              </div>
              <div class='12u'>
                <textarea id='message' name='message' placeholder='Enter your message'></textarea>
              </div>
            </div>
            <div class='row uniform'>
              <div class='12u'>
                <ul class='actions align-center'>
                  <li>
                    <input type='submit' value='Send Message'>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </header>
      </section>


      <!-- / Newsletter
      <section id='cta'>
        <h2>
          Subscribe to the monthly newsletter
        </h2>
        <p>
          Be the first to know about the latest releases
        </p>
        <form action='https://robertwmcgee.us11.list-manage.com/subscribe/post?u=2d7d1b1c718e52c114123e0e2&amp;amp;id=364964b7fd' class='validate' id='mc-embedded-subscribe-form' method='post' name='mc-embedded-subscribe-form' novalidate='' target='_blank'>
          <div class='row uniform'>
            <div class='8u 12u' mobilep>
              <input id='mce-EMAIL' name='EMAIL' placeholder='Enter Your Email Address' required='required' type='email'>
              <input name='b_2d7d1b1c718e52c114123e0e2_364964b7fd' tabindex='-1' type='hidden' value=''>
            </div>
            <div class='4u 12u' mobilep>
              <input class='fit' type='submit' value='Subscribe'>
            </div>
          </div>
        </form>
      </section>
      -->

      </div>
    </section>

<%= partial "content/includes/footer" %>