---
title: Robert W. McGee | Amazon Best Selling Author
layout: generic
---

<%= partial "includes/header-generic" %>

<!-- Main -->
<section id="main" class="wrapper">
  <div class="container">

    <header class="major special">
      <h2>Works by</h2>
      <p>Robert W. McGee</p>
    </header>


    <!-- Image -->
      <section>
        <div class="box alt">
          <div class="row 50% uniform">
            <div class="4u">
              <a href="http://www.amazon.com/dp/B00OJMWLK2">
                <span class="image fit"><img src="/media/assets/img/works/jh/cover.jpg" alt="Justifiable Homicide: A Political Thriller" /></span>
              </a>
            </div>

            <div class="4u">
              <a href="http://www.amazon.com/dp/B00TKOTORC">
                <span class="image fit"><img src="/media/assets/img/works/as/cover.jpg" alt="Annie and the Senator: A Story of Vigilante Justice" /></span>
              </a>
            </div>

            <div class="4u">
              <a href="http://www.amazon.com/dp/B00OJN20YI">
                <span class="image fit"><img src="/media/assets/img/works/tsa/cover.jpg" alt="TSA vs the People: A Short Story of Vengeance" /></span>
              </a>
            </div>

            <div class="4u">
              <a href="http://www.amazon.com/dp/B0188LDU5O">
                <span class="image fit"><img src="/media/assets/img/works/ig1/cover.jpg" alt="Iraqi Girl: Trilogy Book 1" /></span>
              </a>
            </div>

            <div class="4u">
              <a href="http://www.amazon.com/dp/B0188M7EGY">
                <span class="image fit"><img src="/media/assets/img/works/ig2/cover.jpg" alt="Iraqi Girl: Trilogy Book 2" /></span>
              </a>
            </div>

            <!--
            <div class="4u">
              <a href="http://www.amazon.com/dp/B00OJMWLK2">
                <span class="image fit"><img src="/media/assets/img/works/ig3/cover.jpg" alt="Iraqi Girl: Trilogy Book 3" /></span>
              </a>
            </div>
            -->

          </div>
        </div>
      </div>
    </section>


  </div>
</section>

<%= partial "includes/footer" %>