---
title: Annie and the Senator | By Robert W. McGee
layout: generic
---

<%= partial "../includes/header-generic" %>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Annie and the Senator</h2>
						<p>A Story of Vigilante Justice</p>
					</header>

          <p>

          <span class="image left"><img src="/media/assets/img/works/as/cover.jpg" /></span>

            <h3>Story</h3>

            <p>Annie Chan. Half Chinese, half Thai. Daughter of a Bangkok pole dancer. Her beauty and other talents catapulted her into the world of high-priced Hong Kong escorts. Her life changed when her millionaire lover sent her to America to get an education. A few years later she emerged from Harvard with an MBA and CPA. With a little help from her friend she rose to the position of president at one of the largest banks in Miami.</p>

            <p>Her career was going along well until a certain senator started causing problems for her. When he threatened to expose her past and destroy her career, she decided she had to silence him. The problem is, she didn’t know how to do it. Not right away, that is.</p>

            <script src="http://www.goodreads.com/book/avg_rating_widget/24932626" type="text/javascript"></script>

          <hr>

          <div class='row'>
            <center>
              <ul class='actions'>
                <li>

                  <a class='button' href='../preview/annie-and-the-senator.html'>
                    Read free preview
                  </a>

                </li>
                <li>
                  <a class='button special' href='http://www.amazon.com/dp/B00TKOTORC'>
                    Buy from Amazon.com
                  </a>
                </li>
                <li>
                  <a class='button' href='http://www.goodreads.com/book/show/24932626-annie-and-the-senator?utm_medium=api&amp;utm_source=blog_book'>
                    GoodReads
                  </a>
                </li>
              </ul>
            </center>
          </div>

				</div>
			</section>

<%= partial "../includes/footer" %>