<section class="spotlight style1 orient-right content-align-left image-position-center" id="first">
  <div class="content">
    <h2>About Robert W. McGee</h2>
    <p>After earning his 13th PhD, Robert W. McGee sets his sights on political fiction.</p>
    <ul class="actions vertical">
      <li>
        <a href="/about" class="button">Learn More</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="/images/author.jpg" alt="Robert W. McGee" />
  </div>
</section>
