<!-- Footer -->
<footer class="wrapper style1 align-center">
  <div class="inner">
    <ul class="icons">
      <li>
        <a href="https://plus.google.com/+RobertMcGeePhD" class="icon style2 fa-google">
          <span class="label">Google+</span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/RobertWMcGeeOfficial" class="icon style2 fa-facebook">
          <span class="label">Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://robertwmcgee.wordpress.com" class="icon style2 fa-wordpress">
          <span class="label">Wordpress</span>
        </a>
      </li>
      <!-- <li>
        <a href="https://www.linkedin.com/pub/robert-mcgee/3a/2a5/324" class="icon style2 fa-linkedin">
          <span class="label">LinkedIn</span>
        </a>
      </li> -->
      <li>
        <a href="https://www.youtube.com/channel/UCWdc0UnkmodfYtpYhcYYioQ" class="icon style2 fa-youtube">
          <span class="label">YouTube</span>
        </a>
      </li>
    </ul>

    <p>&copy; Robert W. McGee</p>
  </div>
</footer>