<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>Latest TV & Radio</h2>
  </div>

  <!-- Gallery -->
  <div class="gallery style2 medium lightbox onscroll-fade-in">
    <!--
    <article>
      <a href="http://recordings.talkshoe.com/TC-73300/TS-1222159.mp3" class="image">
						<img src="images/gallery/thumbs/01.jpg" alt="" />
					</a>
      <div class="caption">
        <h3>James Lowe [BGE Radio]</h3>
        <p>Interview with Jams Lowe on November 15, 2017</p>
        <ul class="actions">
          <li>
            <span class="button small">View</span>
          </li>
        </ul>
      </div>
    </article>
    -->
    <article>
      <a href="https://vimeo.com/242112986" class="image">
						<img src="images/gallery/thumbs/665895910.jpg" alt="" />
					</a>
      <div class="caption">
        <h3>Inside the Swamp - Life Imitating Art?</h3>
        <p>RAD TV on November 10, 2017</p>
        <ul class="actions">
          <li>
            <span class="button small">View</span>
          </li>
        </ul>
      </div>
    </article>
    <article>
      <a href="https://www.youtube.com/watch?v=wGwVT1WT_Y4" class="image">
						<img src="images/gallery/thumbs/LoveGunsFreedom.png" alt="" />
					</a>
      <div class="caption">
        <h3>Gianluca Zanna Interview</h3>
        <p>Love Guns & Freedom Radio Show on February 21, 2016</p>
        <ul class="actions">
          <li>
            <span class="button small">View</span>
          </li>
        </ul>
      </div>
    </article>
    <article>
      <a href="http://www.youtube.com/watch?v=E_kjhAHGtu4" class="image">
						<img src="images/gallery/thumbs/LibertyTalkRadio.png" alt="" />
					</a>
      <div class="caption">
        <h3>Liberty Talk Radio</h3>
        <p>Current Issues on July 20th, 2015</p>
        <ul class="actions">
          <li>
            <span class="button small">View</span>
          </li>
        </ul>
      </div>
    </article>

  </div>

</section>
