<section class="banner style1 orient-left content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2>Justifiable Homicide</h2>
    <p class="major">A Political Thriller</p>
    <p>When does the killing of political leaders become morally justifiable? Killing the Hitlers, Stalins and Pol Pots of the
      world is easy to justify. Murderous tyrants need to be killed. There is a moral duty to present and future generations
      to kill them.</p>
    <p>But what if our leaders are merely idiots, or perhaps corrupt, petty tyrants who are not in the same league as Hitler,
      Stalin or Pol Pot? How much damage can we allow them to do, how many of our rights can we allow them to take away,
      before killing them becomes justifiable homicide?</p>

    <ul class="actions vertical">
      <li>
        <a target="_blank" href="/buy/justifiable-homicide" class="button big wide smooth-scroll-middle">View on Amazon</a>
      </li>
    </ul>

  </div>
  <div class="image">
    <img src="/images/books/jh/cover-en-1.png" alt="Justifiable Homicide - A Political Thriller" />
  </div>

</section>