<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "mainEntity": {
            "@type": "Book",
            "author": "Robert W. McGee",
            "bookFormat": "http://schema.org/EBook",
            "datePublished": "2014-09-14",
            "image": "https://robertwmcgee.com/assets/books/as/cover-en.jpg",
            "inLanguage": "English",
            "isbn": "1502862131",
            "name": "Justifiable Homicide - A Political Thriller",
            "numberOfPages": "543",
            "offers": {
                "@type": "Offer",
                "availability": "http://schema.org/InStock",
                "price": "3.99",
                "priceCurrency": "USD"
            },
            "publisher": "Amazon Digital Services LLC",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "4",
                "reviewCount": "40"
            }
        }
    }
</script>