script(type="application/ld+json").
    "@context": "http://www.schema.org",
    "@type": "person",
    "name": "Robert W. McGee",
    "jobTitle": "Author",
    "url": "http://www.robertwmcgee.com",
    "email": "author@robertwmcgee.com"

