<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "mainEntity": {
            "@type": "Book",
            "author": "Robert W. McGee",
            "bookFormat": "http://schema.org/EBook",
            "datePublished": "2014-09-14",
            "image": "https://robertwmcgee.com/assets/books/tsa/cover-en.jpg",
            "inLanguage": "English",
            "isbn": "B00OJN20YI",
            "name": "The TSA vs The People",
            "numberOfPages": "38",
            "offers": {
                "@type": "Offer",
                "availability": "http://schema.org/InStock",
                "price": "0.99",
                "priceCurrency": "USD"
            },
            "publisher": "Amazon Digital Services LLC"
        }
    }
</script>