---
title: Robert W. McGee | Amazon Best Selling Author
layout: generic
---

<%= partial "content/includes/header-generic" %>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>About</h2>
						<p>Robert W. McGee</p>
					</header>			
					
					<p>
						Robert W. McGee is an <a href="https://amazon.com">Amazon Best-Selling author</a> 
						who writes political fiction from an individualist perspective. His favorite writers of political fiction include 
						
						<a href="https://www.aynrand.org">Ayn Rand</a> (
						<a href="https://www.aynrand.org/novels/atlas-shrugged">Atlas Shrugged</a>; 
						<a href="https://www.aynrand.org/novels/the-fountainhead">The Fountainhead</a>
						), 
						
						<a href="https://en.wikipedia.org/wiki/Aldous_Huxley">Aldous Huxley</a> (
						<a href="http://huxley.net">Brave New World</a>
						) and 
						
						<a href="http://www.george-orwell.org/l_biography.html">George Orwell</a> (
						<a href="http://www.george-orwell.org/1984/index.html">1984</a>; 
						<a href="http://www.george-orwell.org/Animal_Farm/index.html">Animal Farm</a>).
					</p>
					
					<p>Before becoming a novelist, he was a professor, attorney, CPA and consultant. He also published 
					<a href="http://www.amazon.com/Robert-W.-McGee/e/B000APKK1O">58 nonfiction books</a> and lectured or worked in more than 30 countries. Former clients include 
					<a href="https://www.usaid.gov/">The United States Agency for International Development</a>, 
					<a href="http://www.worldbank.org/">the World Bank</a>, 
					<a href="http://www.afdb.org/en/">the African Development Bank</a> and 
					<a href="https://www.cia.gov/index.html">the Central Intelligence Agency</a>. 
					
					He holds 13 earned doctorates from universities in the United States and four European countries.</p>
					
					<p>He has won 19 gold medals in Taekwondo National Championship tournaments (USA), as well as 3 silver medals in World Championships. He has been ranked #2 in the world in the Songahm Taekwondo style and #4 in the world in karate. He spends most of his time in Fayetteville, North Carolina, Southeast Asia and Europe.</p>
					
					
				</div>
			</section>

<%= partial "content/includes/footer" %>