---
title: Robert W. McGee | Amazon Best Selling Author
layout: generic-sp
---

<%= partial "includes/header-generic" %>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Sobre el Autor</h2>
						<p>Robert W. McGee</p>
					</header>

          <p>Robert W. McGee nació en Erie, Pensilvania, al sur de la frontera con Canadá. Ha vivido en Ohio, Chicago, New Jersey, Armenia, Bosnia, Florida y Carolina Del Norte. Tiene un total de veintitrés grados, 13 de ellos son doctorados de universidades de Estados Unidos y cuatro países europeos. Sus grados incluyen contabilidad, finanzas, política, derecho, filosofía, economía, economía internacional, ética global aplicada y las ciencias sociales para nombrar unos pocos.</p>

          <p>Ha trabajado como profesor de matemáticas de la high School secundaria, contador, abogado tributarista, editor, profesor, Consultor y empresario. Algunos de sus clientes anteriores incluyen la Agencia de Estados Unidos para internacional desarrollo, Banco Mundial, Banco Africano de desarrollo y la Agencia Central de inteligencia.</p>

          <p>Ha publicado 58 libros de no ficción y más de 700 artículos en innumerables disciplinas.</p>

          <p>Un entusiasta de las artes marciales, ha ganado medallas en el Shukokai (japonés) y estilos (Coreano) de Taekwondo, como oro de 18 y 9 medallas de plata en los torneos del Campeonato Nacional de Taekwondo.</p>

          <p>Recientemente se embarcó en un nuevo viaje como escritor de ficción. Homicidio justificable: Un Thriller político marcó su debut en el género. Hasta la fecha ha publicado 1 novelette: Annie y el senador: una historia de la justicia Vigilante y 1 cuento: el TSA contra el Pueblo: una historia corta de la venganza. Tiene varias novelas y más obras en proceso.</p>
				</div>
			</section>

<%= partial "includes/footer" %>