section#banner.major
  div.inner
    header.major
      h1 Robert W. McGee
    div.content
      p Un autor que escribe ficcion politica desde un punto individualista.
      ul.actions
        li
          a.button.next.scrolly(href="#tiles") Mira mas