nav#menu
  ul.links
    li 
      a(href="/site/en") ENGLISH
    li 
      a(href="/site/es") ESPAÑOL
  //
    li 
      a(href="/site/fr") FRANÇAIS
    li 
      a(href="/site/pt") PORTUGUÊS
    li 
      a(href="/site/de") DEUTSCHE
    li 
      a(href="/site/it") ITALIANO