		<!-- Header -->
			<header id="header">

				<h1><strong><a href="/">Robert W. McGee</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><%= link_to 'Literatura', '/site/es/index.html' %></li>
					</ul>
				</nav>
			</header>