---
title: Justifiable Homicide - A Political Thriller | By Robert W. McGee
layout: generic
---

<%= partial "../includes/header-generic" %>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Justifiable Homicide</h2>
						<p>A Political Thriller</p>
					</header>

          <p>

          <span class="image left"><img src="/media/assets/images/works/jh/mid.jpg" /></span>

            <h3>Story</h3>

            <h4>When does the killing of political leaders become morally justifiable?</h4>

            <p>Killing the Hitlers, Stalins and Pol Pots of the world is easy to justify.
            Murderous tyrants need to be killed. There is a moral duty to present and
            future generations to kill them. But what if our leaders are merely idiots,
            or perhaps corrupt, petty tyrants who are not in the same league as Hitler,
            Stalin or Pol Pot? How much damage can we allow them to do, how many of our
            rights can we allow them to take away, before killing them becomes
            justifiable homicide?</p>

            <h4>In Justifiable Homicide: A Political Thriller ...</h4>
            <p> a small group of patriots believes that some of our leaders have
            already crossed the line and decide to do something about it.
            They identify potential targets for assassination and start going
            through the list.</p>

            <h4>When Robert Page ... </h4>
            <p>a Miami-based accounting professor with some firearms and martial arts
            training, learns that one of his friends is on the list, he decides
            that he must do whatever is necessary to stop them. The problem is
            that he does not know who all the cell members are or how to stop them.</p>
          </p>

          <script src="https://www.goodreads.com/book/avg_rating_widget/23788892" type="text/javascript"></script>

          <hr>

          <div class='row'>
            <center>
              <ul class='actions'>
                <li>
                  <a class='button' href='../preview/justifiable-homicide.html'>
                    Read free preview
                  </a>
                </li>
                <li>
                  <a class='button special' href='http://www.amazon.com/dp/B00OJMWLK2'>
                    Buy from Amazon.com
                  </a>
                </li>
                <li>
                  <a class='button' href='http://www.goodreads.com/book/show/23788892-justifiable-homicide'>
                    GoodReads
                  </a>
                </li>
              </ul>
            </center>
          </div>

				</div>
			</section>

<%= partial "../includes/footer" %>