<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />    
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/custom.css" />
  
  <!-- Icon -->
  <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
  <link rel="icon" href="/images/icon.png" type="image/x-icon">

  <!-- SEO -->
  <title>Robert W. McGee | Official</title>  
  <meta name="description" content="Robert W. McGee is a Best-Selling Novelist who writes political fiction from an individualist perspective. His latest works include Justifiable Homicide - A Political Thriller, Annie and the Senator, The TSA vs the People, and the Iraqi Girl Trilogy.">
  <meta name="keywords" content="Robert W McGee, Iraqi Girl, The TSA vs The People, Justifiable Homicide, Annie vs The Senator, political thrillers">
  
  <!-- Facebook -->
  <meta property="og:url" content="https://www.robertwmcgee.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Robert W. McGee - Official" />
  <meta property="og:description" content="Robert W. McGee is an Amazon Best-Selling Novelist who writes political fiction from an individualist perspective. His latest works include Justifiable Homicide - A Political Thriller, Annie and the Senator, The TSA vs the People, and the Iraqi Girl Trilogy." />
  <meta property="fb:app_id" content="177203339503674" />
  <meta property="og:image" content="https://www.robertwmcgee.com/images/author.jpg" />
  <meta property="og:image:width" content="250" />
  <meta property="og:image:height" content="250" />

  <!-- Windows Tiles -->
  <meta name="application-name" content="Robert W. McGee"/>
  <meta name="msapplication-square70x70logo" content="/images/tiles/small.jpg"/>
  <meta name="msapplication-square150x150logo" content="/images/tiles/medium.jpg"/>
  <meta name="msapplication-wide310x150logo" content="/images/tiles/wide.jpg"/>
  <meta name="msapplication-square310x310logo" content="/images/tiles/large.jpg"/>

  <!-- iOS -->
  <link rel="apple-touch-icon" href="/images/icon.png">

  <!-- Validation -->
  <meta name="google-site-verification" content="YXZ11glRpBzRpUAGq-eOvqtMO6WYIQBvFD8t0JOeJZw">
  <meta name="yandex-verification" content="448bbcf90fc958e0">
  <meta name="msvalidate.01" content="60B659858656FE01197437DBF9B5D117">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110601315-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110601315-1');
  </script>

  <!-- Error Reporting -->
  <script type="text/javascript" src="https://cdn.ravenjs.com/3.9.1/raven.min.js"></script>
  <script type="text/javascript" src="/assets/js/sentry.js"></script>
</head>

<body>

  <!-- Wrapper -->
  <div id="wrapper" class="divided">

    <%- yield %>

  </div>

  <!-- Scripts -->
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.scrollex.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.scrolly.min.js"></script>
  <script type="text/javascript" src="/assets/js/skel.min.js"></script>
  <script type="text/javascript" src="/assets/js/util.js"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>

</body>

</html>
