!!! XML
%urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  %url
    %loc http://www.robertwmcgee.com/index.html
    %lastmod 2015-07-20T15:34:24+00:00
    %changefreq monthly
    %priority 0.5
  %url
    %loc http://www.robertwmcgee.com/justifiable-homicide.html
    %lastmod 2015-07-20T15:34:24+00:00
    %changefreq monthly
    %priority 0.5
  %url
    %loc http://www.robertwmcgee.com/annie-and-the-senator.html
    %lastmod 2015-07-20T15:34:24+00:00
    %changefreq monthly
    %priority 0.5
  %url
    %loc http://www.robertwmcgee.com/tsa-vs-the-people.html
    %lastmod 2015-07-20T15:34:24+00:00
    %changefreq monthly
    %priority 0.5
  %url
    %loc http://www.robertwmcgee.com/about.html
    %lastmod 2015-07-20T15:34:24+00:00
    %changefreq monthly
    %priority 0.5
  %url
    %loc http://www.robertwmcgee.com/contact.html
    %lastmod 2015-07-20T15:34:24+00:00
    %changefreq monthly
    %priority 0.5
  %url
    %loc http://www.robertwmcgee.com/media.html
    %lastmod 2015-07-20T15:34:24+00:00
    %changefreq monthly
    %priority 0.5
