include /site/en/partials/_header
include /site/en/partials/_menu
include /site/en/partials/_banner

div#main
  include /site/en/partials/_tiles
  include /site/en/partials/_media
  include /site/en/partials/_footer

include /site/en/partials/_scripts
include /site/en/partials/_carousel

include /site/en/schema/_author.html