<section class="spotlight style1 orient-right content-align-right image-position-center onscroll-image-fade-in">
  <div class="content">
    <h2>Annie and the Senator</h2>
    <p class="major">A Story of Vigilante Justice</p>
    <p>
      We all have a past. She thought she had left her previous life behind, until a corrupt Senator threaten to expose and destroy
      her American dream for his financial gain.
    </p>
    <ul class="actions vertical">
      <li>
        <a target="_blank" href="/buy/annie-and-the-senator" class="button">View on Amazon</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="/images/books/as/tile-en.png" alt="Annie and the Senator" />
  </div>
</section>