<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
  <div class="content">
    <h2>Iraqi Girl 2</h2>
    <p>The second volume in the Trilogy – Just Following Orders – places readers in the mind of one of the soldiers who is ordered
      to participate in Massouma’s abuse.</p>

    <p> Although he is disgusted by what his lieutenant orders his men to do, and while he seriously considers killing the lieutenant
      to stop the abuse going on before his eyes, he obeys, because he has been taught not to question orders.
    </p>
    <ul class="actions vertical">
      <li>
        <a href="/buy/iraqi-girl-2" class="button">Learn More</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="/images/books/ig2/tile-en.png" alt="Iraqi Girl 2 - Just Following Orders" />
  </div>
</section>
