<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
  <div class="content">
    <h2>TSA vs The People</h2>
    <p class="major">A Short Story of Vengeance</p>
    <p>What would YOU do if the TSA sexually assaulted YOUR mother? If you’re a red-blooded American, you’d do the same thing
      James Young did. The legal system has failed him. The solution is vigilante justice.</p>
    <ul class="actions vertical">
      <li>
        <a href="/buy/tsa-vs-people" class="button">Learn More</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="/images/books/tsa/tile-en.png" alt="TSA vs The People" />
  </div>
</section>
