<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
  <div class="content">
    <h2>TSA vs The People</h2>
    <p class="major">A Short Story of Vengeance</p>
    <p>
      TSA vs The People is the spinned-off story of James Young - whose elderly mother is sexually assaulted by a TSA agent.
    </p>
    <ul class="actions vertical">
      <li>
        <a href="/buy/tsa-vs-people" class="button">Learn More</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="/images/books/tsa/tile-en.png" alt="TSA vs The People" />
  </div>
</section>
