<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
  <div class="content">
    <h2>Annie and the Senator</h2>
    <p class="major">A Story of Vigilante Justice</p>
    <p>
      Everybody has a past. She thought she had left her previous life behind, until a corrupt Senator threaten to expose and destroy
      her American dream for his financial benefit. What would you do?
    </p>
    <ul class="actions vertical">
      <li>
        <a href="/buy/annie-and-the-senator" class="button">Learn More</a>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="images/books/as/tile-en.png" alt="Annie and the Senator" />
  </div>
</section>