---
title: The Iraqi Girl | By Robert W. McGee
layout: generic
---

<%= partial "../includes/header-generic" %>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Just Following Orders</h2>
						<p>Iraqi Girl Trilogy Book 2</p>
					</header>

          <p>

          <span class="image left"><img src="/media/assets/img/works/ig2/cover.jpg" /></span>

            <h3>Story</h3>

            <p>The second volume in the Trilogy – Just Following Orders – places readers in the mind of one of the soldiers who is ordered to participate in Massouma’s abuse. Although he is disgusted by what his lieutenant orders his men to do, and while he seriously considers killing the lieutenant to stop the abuse going on before his eyes, he obeys, because he has been taught not to question orders. This volume highlights the disgusting practice of female genital mutilation in a graphic way, challenges the morality of enhanced interrogation, and questions the view that there is a duty to obey all orders. This novelette sets the stage for volume 3 of the Trilogy.</p>

          <script src="http://www.goodreads.com/book/avg_rating_widget/28263048" type="text/javascript"></script>

          <hr>

          <div class='row'>
            <center>
              <ul class='actions'>
                <li>

                  <a class='button' href='../preview/just-following-orders.html'>
                    Read free preview
                  </a>

                </li>
                <li>
                  <a class='button special' href='http://www.amazon.com/dp/B0188M7EGY'>
                    Buy from Amazon.com
                  </a>
                </li>
                <li>
                  <a class='button' href='http://www.goodreads.com/book/show/28263048-just-following-orders?utm_medium=api&amp;utm_source=blog_book'>
                    GoodReads
                  </a>
                </li>
              </ul>
            </center>
          </div>

				</div>
			</section>

<%= partial "../includes/footer" %>