---
title: The Iraqi Girl | By Robert W. McGee
layout: generic
---

<%= partial "../includes/header-generic" %>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>The Iraqi Girl</h2>
						<p>Trilogy Book 1</p>
					</header>

          <p>

          <span class="image left"><img src="/media/assets/images/works/ig-1/mid.jpg" /></span>

            <h3>Premise</h3>

            <p>The Iraqi Girl, volume one of The Iraqi Girl Trilogy, introduces readers to Massouma Qassim Ibrahim, who is sexually abused by U.S. soldiers at the age of five. This volume questions the morality of enhanced interrogation, highlights the disgusting practice of female genital mutilation in a graphic way, and sets the stage for revenge and the vigilante justice that are to follow in volumes 2 and 3 of The Iraqi Girl Trilogy.</p>

          <script src="http://www.goodreads.com/book/avg_rating_widget/28256553" type="text/javascript"></script>

          <hr>

          <div class='row'>
            <center>
              <ul class='actions'>
                <li>

                  <a class='button' href='../preview/iraqi-girl.html'>
                    Read free preview
                  </a>

                </li>
                <li>
                  <a class='button special' href='http://www.amazon.com/dp/B0188LDU5O'>
                    Buy from Amazon.com
                  </a>
                </li>
                <li>
                  <a class='button' href='http://www.goodreads.com/book/show/28256553-the-iraqi-girl?utm_medium=api&amp;utm_source=blog_book'>
                    GoodReads
                  </a>
                </li>
              </ul>
            </center>
          </div>

				</div>
			</section>

<%= partial "../includes/footer" %>