footer#footer
  div.inner

    ul.icons
      li 
        a.icon.alt.fa-google(href="https://plus.google.com/+RobertMcGeePhD")
          span.label Google+
      li 
        a.icon.alt.fa-facebook(href="https://www.facebook.com/RobertWMcGeeOfficial")
          span.label Facebook
      li 
        a.icon.alt.fa-linkedin(href="https://www.linkedin.com/pub/robert-mcgee/3a/2a5/324")
          span.label LinkedIn
      li 
        a.icon.alt.fa-amazon(href="https://www.amazon.com/Robert-W.-McGee/e/B000APKK1O")
          span.label amazon
      li 
        a.icon.alt.fa-wordpress(href="https://robertwmcgee.wordpress.com")
          span.label wordpress

    ul.copyright
      li &copy; Robert W. McGee
      li  
        a(href="http://borke.us") Borke Consulting